*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  --primary: #7f5539;
  --secondary: #fdf0d4;
  --accent: #ddb892;
  --error: red;
  --warning: orange;
  --success: green;
  --darkText: black;
  --lightText: white;
}

body
{
  min-width: 375px;
  background-color: var(--secondary);
}

header
{
  height: 50px;
  width: 100%;
  min-width: 375px;
  color: white;
  background-color: var(--primary);
  display: flex;
}

.app-name
{
  align-self: flex-end;
  font-size: 36px;
}

img.apple
{
  padding: 5px;
}

nav
{
  min-width: 375px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--accent);
}

a
{
  padding-right: 10px;
  color: var(--lightText);
  text-decoration: none;
}

a:hover, button, #remove-food, #add-food, #help-icon
{
  cursor: pointer;
}

.help-container
{
  margin: 5px;
  max-width: 400px;
  min-width: 350px;
  position: absolute;
  top: 80px;
  right: 0;
  line-height: 1.3;
  font-size: 14px;
  background-color: rgb(220, 220, 220);
  border-radius: 5%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.help-steps span
{
  font-weight: 600;
}

.help-tips span
{
  font-size: 16px;
  font-weight: 600;
}

.help-steps, .help-tips
{
  padding: 5px 0 5px 10px;
}

.help-steps h3, .help-tips h3
{
  text-align: center;
}

footer
{
  width: 100%;
  min-width: 375px;
  height: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--accent);
  
}

footer a
{
  font-weight: 600;
}

main
{
  min-height: 600px;
}

.home-container
{
  min-width: 375px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container
{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; 
  border-radius: 10%;
  border: 2px solid var(--primary);
}

.summary-container h2
{
  padding: 10px 0;
}

.summary-container h4
{
  line-height: 1.2;
}

.totals-container
{
  padding: 10px 0;
  line-height: 1.5;
}

.list-container
{
  min-width: 350px;
  padding: 10px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container h2
{
  padding-bottom: 5px;
}

.food-item
{
  min-width: 350px;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border-radius: 10%;
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.item-header
{
  display: flex;
  justify-content: space-between;
}

.item-servings
{
  padding-bottom: 10px;
}

.item-macros
{
  display: flex;
  gap: 20px;
}

ul
{
  list-style-type: none;
}

img.empty
{
  width: 30%;
  min-width: 100px;
  height: 30%;
  min-height: 100px;
}

form
{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container
{
  padding: 0 10px;
}

.search-form, .settings-form
{
  padding: 10px;
}

.settings-form input, select
{
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
}

.info-container
{
  text-align: center;
}

.info-container h4
{
  padding: 10px;
}

