*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  --primary: #7f5539;
  --secondary: #fdf0d4;
  --other: #ddb892;
  --accent: #14c01a;
  --lightText: white;
}

body
{
  min-width: 375px;
  background-color: var(--secondary);
}

header.header-container
{
  height: 10vh;
  width: 100%;
  color: var(--lightText);
  background-color: var(--primary);
  display: flex;
}

div.brand-container
{
  width: 30%;
  display: flex;
}

img.brand-image
{
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

h1.brand-name
{
  align-self: flex-end;
  font-size: 2.25em;
  line-height: 1em;
}

nav.nav-container
{
  height: 10vh;
  padding-right: 2rem;
  width: 70%;
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#bars-icon
{
  height: 10vh;
}

div.dropdown-container
{
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--other);
  top: 0;
  right: 0;
  -webkit-transition: transform 2s all ease-in-out;
  -moz-transition: transform 2s all ease-in-out;
  -o-transition: transform 2s all ease-in-out;
  -ms-transition: transform 2s all ease-in-out;
  transition: transform 2s all ease-in-out;
}

div.dropdown-container.active
{
  -webkit-transform: translateY(10vh);
  -moz-transform: translateY(10vh);
  -o-transform: translateY(10vh);
  -ms-transform: translateY(10vh);
  transform: translateY(10vh);
}

div.dropdown-container a
{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid white;
}

div.dropdown-container:last-child
{
  border-bottom: none;
}



div.links-container
{
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

div.links-container a
{
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

a
{
  color: var(--lightText);
  text-decoration: none;
}

a:hover, button, #remove-food, #add-food, #bars-icon
{
  cursor: pointer;
}

a:hover
{
  color: var(--accent);
  transition: .5s all ease-in-out;
}

footer
{
  width: 100%;
  min-width: 375px;
  height: 5vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--primary);

}

footer a
{
  font-weight: 600;
}

main
{
  min-height: 600px;
}

.home-container
{
  min-width: 375px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container
{
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white; 
  border-radius: 10%;
  border: 2px solid var(--primary);
}

@media (max-width: 500px)
{
  .summary-container
  {
    flex-direction: column;
  }
}

.totals-container
{
  min-width: 250px;
  padding: 10px 0;
  line-height: 1.5;
}

.graph-container
{
min-width: 250px;
}

.list-container
{
  min-width: 350px;
  padding: 10px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container h2
{
  padding-bottom: 5px;
}

.food-item
{
  min-width: 350px;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border-radius: 10%;
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.item-header
{
  display: flex;
  justify-content: space-between;
}

.item-servings
{
  padding-bottom: 10px;
}

.item-macros
{
  display: flex;
  gap: 20px;
}

ul
{
  list-style-type: none;
}

div.search-container
{
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.search-form, form.settings-form
{
  width: 60%;
  padding: 10px;
  gap: 10px;
}

textarea#search-input
{
  width: 100%;
  height: 25vh;
}

div.settings-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.metrics-container, div.macros-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.metrics-form input, .macros-form input, select
{
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
}

.info-container
{
  text-align: center;
}

.info-container h4
{
  padding: 10px;
}

/* @media only screen and (max-width: 768)
{
  .nav-container
  {
    padding-right: 2rem;
    width: 70%;
    display: none;
    justify-content: flex-end;
    align-content: center;
  }

  .links-container
  {
    width: 75%;
    display: none;
    justify-content: flex-end;
    gap: 1rem;
  }

  .links-container a
  {
    display: none;
    align-items: center;
    font-size: 1.5em;
  }
} */